@model lifetime_apd.peminjaman

@{
    ViewBag.Title = "Details";
}
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Dashboard", "Dashboard", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        Data Master
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Item APD", "Index", "Apd")</li>
                        <li>@Html.ActionLink("Data Karyawan", "Index", "Karyawan")</li>
                        <li>@Html.ActionLink("Data Unit", "Index", "Unit")</li>
                    </ul>
                </li>
                <li>@Html.ActionLink("Data Pengadaan APD", "Index", "Pengadaan")</li>
                <li>@Html.ActionLink("Data Penerimaan APD", "Index", "Penerimaan")</li>
                <li>@Html.ActionLink("Data Permintaan APD", "Index", "Permintaan")</li>
                <li>@Html.ActionLink("Data Peminjaman APD", "Index", "Peminjaman")</li>
            </ul>
        </div>
    </div>
</div>
<h2>Details</h2>

<div>
    <h4>peminjaman</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TANGGAL_PINJAM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TANGGAL_PINJAM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TANGGAL_KEMBALI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TANGGAL_KEMBALI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JUMLAH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JUMLAH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.STATUS_PEMINJAMAN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.STATUS_PEMINJAMAN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.apd.NAMA_APD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apd.NAMA_APD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.karyawan.NIP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.karyawan.NIP)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
