@model IEnumerable<lifetime_apd.peminjaman>

@{
    ViewBag.Title = "Index";
}
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Dashboard", "Dashboard", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        Data Master
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Item APD", "Index", "Apd")</li>
                        <li>@Html.ActionLink("Data Karyawan", "Index", "Karyawan")</li>
                        <li>@Html.ActionLink("Data Unit", "Index", "Unit")</li>
                    </ul>
                </li>
                <li>@Html.ActionLink("Data Pengadaan APD", "Index", "Pengadaan")</li>
                <li>@Html.ActionLink("Data Penerimaan APD", "Index", "Penerimaan")</li>
                <li>@Html.ActionLink("Data Permintaan APD", "Index", "Permintaan")</li>
                <li>@Html.ActionLink("Data Peminjaman APD", "Index", "Peminjaman")</li>
            </ul>
        </div>
    </div>
</div>
<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TANGGAL_PINJAM)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TANGGAL_KEMBALI)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JUMLAH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.STATUS_PEMINJAMAN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.apd.NAMA_APD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.karyawan.NIP)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TANGGAL_PINJAM)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TANGGAL_KEMBALI)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.JUMLAH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.STATUS_PEMINJAMAN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.apd.NAMA_APD)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.karyawan.NIP)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
